<html>

</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<style>-->
<!--body {-->
<!--  margin: 0;-->
<!--  font-family: Arial, Helvetica, sans-serif;-->
<!--}-->

<!--.top-container {-->
<!--  background-color: #f1f1f1;-->
<!--  padding: 30px;-->
<!--  text-align: center;-->
<!--}-->

<!--.header {-->
<!--  padding: 10px 16px;-->
<!--  background: #555;-->
<!--  color: #f1f1f1;-->
<!--}-->

<!--.content {-->
<!--  padding: 16px;-->
<!--}-->

<!--.sticky {-->
<!--  position: fixed;-->
<!--  top: 0;-->
<!--  width: 100%;-->
<!--}-->

<!--.sticky + .content {-->
<!--  padding-top: 102px;-->
<!--}-->


<!--body {-->
<!--  margin: 0;-->
<!--  font-family: "Lato", sans-serif;-->
<!--}-->

<!--.sidebar {-->
<!--  margin: 0;-->
<!--  padding: 0;-->
<!--  width: 200px;-->
<!--  background-color: #f1f1f1;-->
<!--  position: fixed;-->
<!--  height: 100%;-->
<!--  overflow: auto;-->
<!--}-->

<!--.sidebar a {-->
<!--  display: block;-->
<!--  color: black;-->
<!--  padding: 16px;-->
<!--  text-decoration: none;-->
<!--}-->

<!--.sidebar a.active {-->
<!--  background-color: #04AA6D;-->
<!--  color: white;-->
<!--}-->

<!--.sidebar a:hover:not(.active) {-->
<!--  background-color: #555;-->
<!--  color: white;-->
<!--}-->

<!--div.content {-->
<!--  margin-left: 200px;-->
<!--  padding: 1px 16px;-->
<!--  height: 1000px;-->
<!--}-->

<!--@media screen and (max-width: 700px) {-->
<!--  .sidebar {-->
<!--    width: 100%;-->
<!--    height: auto;-->
<!--    position: relative;-->
<!--  }-->
<!--  .sidebar a {float: left;}-->
<!--  div.content {margin-left: 0;}-->
<!--}-->

<!--@media screen and (max-width: 400px) {-->
<!--  .sidebar a {-->
<!--    text-align: center;-->
<!--    float: none;-->
<!--  }-->
<!--}-->
<!--</style>-->
<!--</head>-->
<!--<body>-->

<!--<div class="header" id="myHeader">-->
<!--  <h2>My Header</h2>-->
<!--</div>-->

<!--<div class="sidebar">-->
<!--  <a class="active" href="#home">Home</a>-->
<!--  <a href="#news">News</a>-->
<!--  <a href="#contact">Contact</a>-->
<!--  <a href="#about">About</a>-->
<!--</div>-->
<!--<div class="sidebar">-->
<!--  <a class="active" href="#home">Home</a>-->
<!--  <a href="#news">News</a>-->
<!--  <a href="#contact">Contact</a>-->
<!--  <a href="#about">About</a>-->
<!--</div>-->
<!--<div class="content">-->
<!--  <h2>Responsive Sidebar Example</h2>-->
<!--  <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or less.</p>-->
<!--  <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>-->
<!--  <h3>Resize the browser window to see the effect.</h3>-->
<!--</div>-->
<!--<script>-->
<!--&lt;!&ndash;window.onscroll = function() {myFunction()};&ndash;&gt;-->

<!--var header = document.getElementById("myHeader");-->
<!--var sticky = header.offsetTop;-->

<!--function myFunction() {-->
<!--  if (window.pageYOffset > sticky) {-->
<!--    header.classList.add("sticky");-->
<!--  } else {-->
<!--    header.classList.remove("sticky");-->
<!--  }-->
<!--}-->
<!--</script>-->

<!--</body>-->
<!--</html>-->
